@model IEnumerable<BB.CodeTest.Models.Data.Customer>

@{
    ViewData["Title"] = "Index";
}

<h2>Home Page</h2>

<p>This is the Home Page !  To view or update customers - click on the "CustomerList" link in the navbar above.</p>

